  .name-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .welcome-title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    color: white;
  }

  .icon-row {
  	text-align: center;
  	margin-left: auto;
  	margin-right: auto;
  	height: 25px;
  }
  
  .resume-link {
  	text-decoration: none;
  	color: lightblue;
  }

  .buttons {
  	margin-left: auto;
  	margin-right: auto;

  	text-align: center;
  }